@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff") format("woff"),
       url("../fonts/gilroyextrabold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;


}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff") format("woff"),
       url("../fonts/gilroylight.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff") format("woff"),
       url("../fonts/opensans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff") format("woff"),
       url("../fonts/opensanslight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  min-width: 1440px;
  /*В catalog.html сама ширина страницы меньше - 1440px, в index.html - 1480px;*/

  margin: 0;
  padding: 0;

  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #464646;
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  max-height: 100%;
  height: auto;
}

/* General classes */
/*Убрать вот это и прописать каждому листу отдельно!*/
.list {
  list-style-type: none;

  margin: 0;
  padding: 0;
}
/*В вебинаре по сеткам говорили, что margin: 0; padding: 0; лучше задавать каждому отдельному ul. Как лучше сделать? Сказали, что ни в коем случае так нельзя задавать*/

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

/* !For all buttons and links like buttons! */

.button {
  position: relative;

  display: inline-block;
  width: 220px;
  padding: 10px 0;

  font-weight: 700;
  font-size: 18px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 2px;

  outline: 0;
  border: none;
}

.button:before {
  content: "";

  position: absolute;
  top: 20px;
  left: 0px;
  width: 220px;
  height: 8px;

  background-color: #f7e296;

  z-index: -1;
}

.button:hover:before {
  height: 40px;
  top: 5px;
  left: 0px;
}

.button:active {
  height: 40px;
  color: rgba(0, 0, 0, 0.3);
}

/*For fonts*/

.gilroy-heading {
  font-weight: 700;
  font-size: 47px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
}

.gilroy-link {
  font-weight: 700;
  font-size: 18px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* HEADER */

.header {
  min-height: 300px;
  padding-top: 40px;
}

.header-nav {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between; /*Ничего не меняется при изменении justify-content*/
  align-items: space-between;
  padding: 50px 60px;

  background-color: #f7e296;
}

/* !For logo! */

.header-logo {
  position: absolute;
  top: -19px;
  left: 60px;
}

.header-logo:hover {
  opacity: 0.6;
}

.header-logo:active {
  opacity: 0.3;
}

/* !For navigation! */

/* !For search! */

.header-nav .user-nav-search { /*Тут должна показываться кнопка, у которой тоже три состояния*/
  position: relative;
  flex-grow: 1;

  padding-left: 40px;

  opacity: 0.3;
  /*Как убрать этот outline? */
}

.header-nav .user-nav-search:before {
  content: "";

  position: absolute;
  top: 7px;
  left: 0px;
  width: 16px;
  height: 16px;

  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  /*Может, лучше обернуть в div? Не могу задать отдельный opacity*/
}

.header-nav .user-nav-search:focus {
  opacity: 1;
}

.header-nav .user-nav-search:hover {
  opacity: 0.6;
}

/* !For further user navigation */

.header-user-nav {
  display: flex;
  flex-wrap: wrap;
  width: 485px; /*В макете - 500px, почему?*/
  margin-left: auto;
  justify-content: flex-start;
  margin-bottom: 50px; /*В фотошопе - 50, Слишком большой margin выходит, почему? Где-то не обнулила?*/

  line-height: 36px;
}

/* !For user navigtion links! */
.header-user-nav a:hover {
  opacity: 0.6;
}

.header-user-nav a:active {
  opacity: 0.3;
}

.header-user-nav .user-nav-login {
  position: relative;
  flex-grow: 1;
  width: 70px;
  padding-left: 35px;
}

.header-user-nav .user-nav-login::before {
  content: "";

  position: absolute;
  top: 13px;
  left: 0px;
  width: 13px;
  height: 12px;

  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-user-nav .user-nav-compare {
  position: relative;

  width: 90px;
  margin-left: auto;
  padding-left: 20px;
  margin-right: 40px;
}

.header-user-nav .user-nav-compare::before {
  content: "";

  position: absolute;
  top: 14px;
  left: 0px;
  width: 10px;
  height: 10px;

  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-user-nav .user-nav-shoppingbag {
  position: relative;

  width: 85px;
  margin-left: auto;
  padding-left: 25px;
}

.header-user-nav .user-nav-shoppingbag::before {
  content: "";

  position: absolute;
  top: 13px;
  left: 0px;
  width: 12px;
  height: 12px;

  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* !For site navigation! */

.header-site-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1040px;
  /*Никакой разницы при задании justify-content*/
}

/* !For site catalog! */

.header-site-nav .site-nav-catalog span {
  position: relative;

  flex-grow: 1;

  width: 246px;
  padding-right: 32px;
}

.header-site-nav .site-nav-catalog span:after {
  content: "";

  position: absolute;
  top: 2px;
  right: 0px;
  width: 16px;
  height: 16px;

  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.header-site-nav .site-nav-catalog  .site-nav-hidden-menu {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 550px;
  height: 85px;
  flex-wrap: wrap;

  margin-top: 40px;
}

.header-site-nav .site-nav-catalog:hover .site-nav-hidden-menu li {
  display: block;
}

.header-site-nav .site-nav-catalog .site-nav-hidden-menu li{
  display: none;
  margin-right: 40px;
}

.header-site-nav > li a:hover {
  opacity: 0.6;
}

.header-site-nav > li a:active {
  opacity: 0.3;
}

.header-site-nav .site-nav-catalog a:hover {
  opacity: 0.6;
}

.header-site-nav .site-nav-catalog a:active {
  opacity: 0.3;
}

/*.....*/

.header-site-nav .site-nav-delivery{
  margin-left: auto;
  margin-right: 35px;
}

.header-site-nav .site-nav-warranty{
  margin-left: auto;
  margin-right: 109px;
}

.header-site-nav .site-nav-contacts{
  margin-left: auto;
}

/* MAIN */

/* For slider */
.main-item {
  position: relative;

  margin-bottom: 95px;
}

.main-item-1 {
  /*position: absolute;
  top: 0;
  left: 0;*/
  /*z-index: -1;*/
}

.main-item-2 {
  position: absolute;
  top: 0;
  left: 0;
  /*z-index: -2;*/
}

.main-item-3 {
  position: absolute;
  top: 0;
  left: 0;
  /*z-index: -3;*/
}

.main-item-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: stretch;
  align-items: stretch;

  width: 1040px;
  padding: 0;
  padding-left: 90px;
}

.item-image {
  /*width: 400px;*/
  margin-top: -100px;
  margin-right: 125px;
}

.item-about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin-top: -30px;
  /*width: 480px;*/
}

.item-description .item-description-heading {
  min-width: 260px;
  padding: 0;
  margin: 0;
  margin-bottom: 28px;  /*Рассчитала сама. От расстояния между буквами отнимаю сумму половинок высоты их строк*/

  line-height: 56px; /*В фотошопе не указано, рассчитала сама. Расстояние между строками / 2 + font-size*/
}

.main-item-2 .item-description-heading{
  max-width: 260px;
}

.item-description .item-description-paragraph {
  min-width: 480px;

  padding: 0;
  margin: 0;
  margin-bottom: 47px; /*65 (расстояние между буквами) - половинка высоты строки параграфа - высота самого блока)*/
}

.item-about .item-details {
  margin-bottom: 60px; /*Приблизительно, потом буду подгонять*/
}

/* !For item characteristics! */

.item-about .item-characteristics {
  display: table;
  width: 500px;

  /*Как сместить все влево и задать свой padding?*/
}

.item-characteristics tr {
  /*display: table-row;*/
  margin: 0;
  padding: 0;
  text-align: left;
}

.item-characteristics th {
  /*display: table-cell;*/
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-size: 36px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
}

.item-characteristics td {
  /*display: table-cell;*/
  margin: 0;
  padding: 0;

  font-size: 13px;
  line-height: 20px;
}
/* !For catalog! */

.main-catalog {
  display: flex;
  justify-content: space-between;

  margin-bottom: 80px;
}

.main-catalog-item {
  width: 160px;
  margin: 0;
  margin-right: 40px;

  font-weight: 700;
  font-size: 18px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
}

.main-catalog-item .catalog-item-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  margin-bottom: 38px;

  background-color: #f7e296;
}

/*.main-catalog-item .catalog-item-image:hover {
  background-color: #f0c52e;
  background-size: 160px 160px;
}

.main-catalog-item .catalog-item-image img:active {
  background-color: #f0c52e;

  opacity: 0.3;
}

.main-catalog-item .catalog-item-image .catalog-item-description:active {
  opacity: 0.3;
}*/
/*
Как это правильно сделать?*/

.main-catalog-item .catalog-item-description {
  word-wrap: wrap;
}

/* !For additional features! */
.main-details {
  margin-bottom: 200px;
}

.details-delivery {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details-delivery-background {
  position: absolute;
  top: 55px;
  left: -160px;

  z-index: -1;

  min-width: 1480px;
  min-height: 288px;

  background-color: #e5e5e5;
}

/*Через before не получается, удалить этот кусок*/

/*.details-delivery:before {
  position: absolute;
  top: 0;
  left: 0px;
  min-width: 1480px;
  min-height: 288px;

  background-color: #e5e5e5;
}*/

.details-delivery .delivery-sidebar {
  position: relative;
  margin: 0;
  padding: 0;

  width: 286px;
}

.details-delivery .delivery-sidebar:before {
  content: "";
  position: absolute;
  display: block;

  width: 7px;
  height: 319px;
  top: -80px;
  left: 280px;
  background-color: #000000;
}

.details-delivery .delivery-sidebar .sidebar-current {
    width: 280px;
    height: 40px;
    padding: 0;
    padding-left: 20px;
    padding-top: 5px;
    text-align: left;

    color: #f7e184;
    background-color: #000000;
}

.description-slide {
  display: flex;
  width: 800px;
  justify-content: space-between;
  align-items: center;
}

.description-2 {
  display: none;
}

.description-3 {
  display: none;
}

.description-slide .description-paragraph {
  width: 460px;
}

.description-slide .image-1 {
  width: 136px;
  height: 164px;
  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.description-slide .image-2 {
  width: 171px;
  height: 195px;
  background-image: url("../img/warranty.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.description-slide .image-3 {
  width: 156px;
  height: 188px;
  background-image: url("../img/credit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* !For partners! */

.main-logos {
  margin-bottom: 80px;
}

.partners-logos {
  display: flex;
  justify-content: space-around;
}

.main-logos img {
  opacity: 0.2;
  filter: grayscale(100%);
}

.main-logos img:hover {
  opacity: 1;
  filter: grayscale(0%);
}

/* !About us! */

.main-company {
  display: flex;
  justify-content: flex-start;/*Колонки не прилипали к границам блока, когда использовала space-between. Почему?*/
  align-items: flex-start;
  width: 1040px;

  margin-bottom: 90px;
}

.main-company .black-stripe {
  width: 80px;
  height: 7px;
  margin-bottom: 50px;

  background-color: #000000;
}

.main-company h2 {
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
}

.main-company p {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.main-company .company-paragraph {
  margin-bottom: 40px;
}

/* About us */

.main-about {
  min-width: 480px;

  margin-right: 140px;
}

.main-about ul { /*Не работает через класс .main-about .about-partners*/
  margin: 0;
  margin-bottom: 60px;
  padding: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 40px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;

  list-style-type: none; /* !Тут нужно вставлять иконкой или можно задать opacity?! SVG!*/
}

.main-about li {
  position: relative;

  padding-left: 35px;
}

/*Как вот тут вставить и перекрасить?*/
/*.main-about li:before {
  content: "";

  position: absolute;
  top: 0px;
  left: 0px;
  background-image: url("../img/slider-button-empty.svg");
  background-repeat: no-repeat;
}*/

/* Contacts */
.main-contacts {
  /*width: 560px;*/
}

.main-contacts img {
  margin-bottom: 50px;
}

/* Footer */

.footer {
  color: #ffffff;
  background-color: #464646;
  min-height: 323px;

  margin-top: auto;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;/*Как обнулить все margin, чтобы была возможность задавать свои собственные, как на макете?*/
  padding: 65px 0;
}

/*for row 1*/

.footer-nav .row-1 {
  display: flex;
  justify-content: space-between;
}

/* !For footer logo! */

.footer-logo img {
  opacity: 1;
}

.footer-logo img:hover {
  opacity: 0.6;
}

.footer-logo img:active {
  opacity: 0.3;
}

/* !For user navigation! */

.footer-user-nav {
  display: flex;
  justify-content: flex-end;
}

.footer-user-nav .footer-icons {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  /*Не задавала ширину, потому что если вставить другой текст, то фиксированная ширина - это же не очень хорошо?*/
}

.footer-user-nav .user-nav-login {
  min-width: 70px;
  margin-left: auto;
  margin-right: 40px;
}

/*.footer-user-nav .user-nav-login::before {
  content: "";

  position: absolute;
  top: 13px;
  left: 0px;
  width: 13px;
  height: 12px;

  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  }*/

.footer-user-nav .user-nav-compare {
  min-width: 90px;
  margin-left: auto;
  margin-right: 40px;
}

/*.footer-user-nav .user-nav-compare::before {
  content: "";

  position: absolute;
  top: 14px;
  left: 0px;
  width: 10px;
  height: 10px;

  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}*/

.footer-user-nav .user-nav-shoppingbag {
  min-width: 85px;
  margin-left: auto;
}

/*.footer-user-nav .user-nav-shoppingbag::before {
  content: "";

  position: absolute;
  top: 13px;
  left: 0px;
  width: 12px;
  height: 12px;

  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}*/

.footer-user-nav a{
  color: #ffffff;
  line-height: 36px;
  opacity: 0.7;
}

.footer-user-nav a:hover{
  opacity: 1;
}

.footer-user-nav a:active{
  opacity: 0.3;
}

/*for row 2*/

.footer-nav .row-2 {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 30px;
  /*Приблизительно сейчас, потом изменить*/
}

.footer-site-nav {
  display: flex;
  justify-content: space-between;
  width: 436px;
}

.footer-site-nav a {
  color: #ffffff;
  opacity: 1;
}

.footer-site-nav a:hover {
  color: #ffffff;
  opacity: 0.6;
}

.footer-site-nav a:active {
  color: #ffffff;
  opacity: 0.3;
}

/*For row 3*/

.footer-nav .row-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-nav .row-3 .yellow-stripe {
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 141px;
}

/* !For social buttons! */

.footer-social a {
  color: #ffffff;
  opacity: 0.3;
}

.footer-social a:hover {
  color: #ffffff;
  opacity: 0.6;
}

.footer-social a:active {
  color: #ffffff;
  opacity: 0.1;
}

/* !For HTML Academy logo! */

.logo-html img{
  opacity: 1;
}

.logo-html img:hover{
  opacity: 0.6;
}

.logo-html img:active{
  opacity: 0.3;
}

/* Registration Form */

.module-form label {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
}

.module-form input[type="text"],
.module-form textarea {
  font-size: 14px;
  line-height: 18px;
  opacity: 0.4;

  background-color: #aab2b5; /*У текста и фона разные opasity. Как быть?*/
}

.module-form input[type="text"]:focus,
.module-form textarea:focus {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  opacity: 1;

  background-color: #ffffff;
  outline-color: #f7e296;
}

.module-form input[type="text"]:hover,
.module-form textarea:hover {
  font-size: 14px;
  line-height: 18px;
  opacity: 0.4;

  background-color: #aab2b5;
}

/*Как обозначить невалидное значение?*/

/* Map */

.module-map img {
  box-shadow: 0px 20px 40px 0px;
}

/* CATALOG. CSS */

/*HEADER*/

.catalog-header {
  margin-bottom: 40px;
}

.header-user-nav .user-nav-username {
  flex-grow: 1;
  position: relative;
  margin-right: 20px;
  padding-left: 28px;
}

.header-user-nav .user-nav-username::before {
  content: "";

  position: absolute;
  top: 13px;
  left: 0px;
  width: 13px;
  height: 12px;

  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-user-nav .user-nav-logout {
  margin-right: 45px;
  opacity: 0.3;
}

/*MAIN*/

.catalog-subnavigation {
  margin-bottom: 50px;
  padding: 0 60px;
}

.catalog-subnavigation h1 {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
}

/* breadcrums */

.breadcrums {
  display: flex;
  margin: 0;
  padding: 0;
}

.breadcrums li {
  position: relative;
  padding-right: 40px;

  font-size: 14px;
  line-height: 36px;

  opacity: 0.3;
}

.breadcrums li:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 0px;
  width: 4px;
  height: 7px;

  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

/*Как сделать так, чтобы они располагались в середине паддинга, независимо от длины текста?*/

.breadcrums li:hover {
  opacity: 0.6;
}

.breadcrums li:active {
  opacity: 0.1;
}

/*!For catalog*/

.catalog-catalog {
  display: flex;
  justify-content: space-between;
}

/* !For sidebar! */

.catalog-catalog .sidebar {
  position: relative;
  width: 330px;
  padding-left: 60px;
  padding-right: 70px;
}

/*.catalog-catalog .sidebar:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 470px;
  background-color: #eeeeee;
  background-repeat: repeat;
  background-position: 0 0;
}*/

.sidebar .sidebar-heading {
  min-width: 270px;
  min-height: 70px;
  padding-top: 25px;

  background-color: #dbdbdb;
}

.sidebar-heading h2 {
  margin: 0;
  padding: 0;
}

.sidebar-filter fieldset {
  border: 0;
  border-top: 2px solid #000000;

  /*Не получается отодвинуть стоимость*/
}

.sidebar-filter legend {
  font-weight: 700;
  font-size: 18px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
}

.sidebar-filter label {
  font-size: 14px;
  line-height: 40px;
}
/* !For catalog sort! */

.catalog-catalog .catalog {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
}

.catalog-sort {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  min-height: 70px;
  padding-left: 75px;
  background-color: #eeeeee;
}

.catalog-sort h2 {
  margin: 0;
  padding: 0;
  padding-right: 45px;
}

.catalog-sort .sort-type {
  display: flex;
  min-width: 300px;
  justify-content: space-between;
}

.sort-type li {
  font-size: 14px;
  line-height: 18px;

  opacity: 0.3;
}

.sort-type li:hover {
  opacity: 0.6;
}

.sort-type li:active {
  opacity: 1;
}

.catalog-sort .sort-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 42px;
  margin-left: auto;
}

.catalog-sort .sort-button {
  position: relative;
  border: 0;
  background-color: transparent;
  opacity: 0.2;
}

.catalog-sort .sort-button:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 11px;
  height: 10px;
}

.catalog-sort .button-up:before {
    background-image: url("../img/icon-up-dir.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.catalog-sort .button-down:before {
    background-image: url("../img/icon-down-dir.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.catalog-sort .button-active {
  opacity: 1;
}

/* !For catalog! */
.catalog .catalog-container {
  padding: 70px 0px 75px 70px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*For catalog card*/

.catalog-item .catalog-image {
  margin-bottom: 40px;
}

.catalog-item .item-description {
  display: flex;
  justify-content: space-between;
}

.catalog-item .item-description h3 {
  margin: 0;
  margin-bottom: 55px;
  padding: 0;
  max-width: 255px;
  white-space: pre-line; /*Вот туууут большая беда со вторым слайдом. перенос по дефису*/

  font-weight: 700;
  font-size: 18px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
}

.catalog-list .item-description p {
  margin: 0;
  padding: 0;
}

.catalog-price {
  font-weight: normal;
  font-size: 16px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #464646;
}

.pagination-list {
  display: flex;
  justify-content: space-around;
  align-items: center;

  min-height: 70px;
  background-color: #eeeeee;
}

.pagination-item {
  font-weight: 700;
  font-size: 16px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;

  opacity: 0.3;
}

.pagination-back,
.pagination-forward {
  display: inline-block;
  width: 70px;
  height: 20px;

  text-align: center;
  vertical-align: middle; /*Или добавляем span, или rgba*/
}

.pagination-back:hover,
.pagination-forward:hover {
  background-color: #d9d9d9;
}

.pagination-back:active,
.pagination-forward:active {
  background-color: #d9d9d9;
  opacity: 0.3; /* Как задать opacity только тексту? */
}

.pagination-item-current,
.gilroy-link {
  opacity: 1;
}

.pagination-numbers {
  display: flex;
  justify-content: space-between;
  width: 90px;
}

/* Hover catalog */
.hover-link {
  display: none;
}

.hover-compare {
  font-size: 13px;
  line-height: 36px;

  opacity: 0.5;
}

.hover-compare:hover {
  opacity: 1;
}

.hover-compare:active {
  opacity: 0.2;
}
